@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
      
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
    background: #96238A;
    background: linear-gradient(to bottom right,#c430d8 0%, #91b5eb 40%,#df52c0 60%,#ff34d2 100%);
    background-size: 300% 300%;
    animation: float 6s infinite alternate; 
}

@keyframes float {
    from{background-position: 0 0; }
    to {background-position: 0% 50%;}
}

section {
    padding: 45px;
    background-color: #fff;
    width: 500px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    box-shadow: 2px 15px 20px rgb(61, 61, 61.4);
}

header img {
    width: 140px;
}

header h3{
    color: #ff4e97;
    font-size: 1.35rem;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

main a {
    background: #f580b0;
    padding: 15px 0;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    box-shadow: 10px 10px #b0bae4;
    transition: all .5s ease-in-out;
}

main a:hover {
    opacity: .85;
}

.footer {
    position: absolute;
    top: 680px;
    color: #fff;
    font-size: 1rem;
}

@media (max-width: 520px){
    section{
        width: 90%;
        padding: 30px;
    }
    header img{
        width: 100px;
    }
    header h3{
        font-size: 1.3rem;
    }
    main{
        gap: 15px;
    }
    main a{
        padding: 10px 0;
        box-shadow: 5px 5px #eeaeca;
    }
}